$color-1: #d6d6d6;
.card {
  background: none;
  margin: auto;
  border: none;
  width: 23rem !important;

  input {
    background: none;
    border: 2px solid $color-1;
    color: white;
  }
  button {
    margin-top: 20px;
    outline: none;
  }
  h5 {
    color: white;
  }
}
h5 {
  color: white;
}
h2 {
  color: white;
  font-weight: 900;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
h3 {
  margin-top: 20px;
  text-align: center;
  color: white;
}
tr {
  color: white;
}

.userCoins {
  margin: 20px auto;
  width: 500px;
  text-align: center;
}
.hidden {
  display: none;
}
p {
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
  color: white;
  span {
    font-weight: 400;
    color: white;
  }
}
.form-control {
  background: none;
  color: white;
}
i {
  color: red;
  margin-left: 10px;
}
#message {
  color: #04c437;
  font-size: 12px;
}
@media (min-width: 376px) and (max-width: 495px) {
  .userCoins {
    width: 350px;
    margin: 20px 8px;
  }
}
.input-group {
  opacity: 0;
  animation-name: input-group;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  button {
    font-weight: 700;
  }
}
@keyframes input-group {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 325px) and (max-width: 375px) {
  .card {
    width: 18rem !important;
  }
  .userCoins {
    width: 300px;
    margin: 20px 0px;
  }
}
@media (max-width: 320px) {
  .card {
    width: 15rem !important;
  }
  .userCoins {
    width: 260px;
    margin: 20px 0px;
  }
}
