$color-1: #d6d6d6;

.wrapper {
  width: 100%;
}

.basicInformation {
  width: 350px;
  text-align: center;
  padding: 10px;
  margin: 20px 150px;
  p {
    color: white;

    span {
      color: white;
    }
  }
}

button {
  margin-top: 20px;
  outline: none;
}

h4 {
  margin-bottom: 20px;
  text-align: center;
  color: white;
}
p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  color: white;
  span {
    font-weight: 400;
    color: white;
  }
}
h3 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}
h5 {
  color: white;
}
tr {
  color: white;
  font-weight: 700;
}
@media (min-width: 375px) and (max-width: 730px) {
  .basicInformation {
    margin: 20px 7px;
  }
}
@media (min-width: 325px) and (max-width: 375px) {
  .basicInformation {
    width: 300px;
    margin: 20px 7px;
  }
}
@media (max-width: 320px) {
  .basicInformation {
    width: 260px;
    margin: 20px 0px;
  }
}
