.basicInformation{
    width:250px;
    padding: 10px;
    float: left;
    margin-right: 30px;

   
}
.wrapper{
    width: 100%;
    overflow: hidden;
}
.coins{
    width: 200px;
    float: right;
    padding: 10px;
}
p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    span{
        font-weight: 400;
    }
}
button{
    width: 100px;
       outline: none;
       border: none;
       border-radius: 30px;
       margin-right: 20px;
       margin-top: 15px;
       background:  #d6d6d6;
      
       font-size: 17px;
}
